body
  margin: 0 !important
  padding: 0
  border: none
  max-width: 100vw
  overflow-x: hidden
  *
    box-sizing: border-box

ul
  @include reset

.page
  padding-top: $header-height
  section
    .container
      min-height: 50rem
      background: $white
      max-width: $page-width
      padding-left: $space*4
      color: #313435
      @media (max-width: $page-width)
        max-width: 100vw
        overflow-x: hidden
      @media (min-width: $page-width + 20)
        margin: 0 auto 0 20rem

img
  max-width: 100%

.page-title
  padding: $space
  margin: $space*2
  text-align: center
  position: relative
  &:after
    content: " "
    background: $text-color
    height: 5px
    width: 3rem
    @include absolute-s